Seguros.Falabella.Application/Service References/ServiceSale/SaleWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53822/SaleWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SegurosFalabellaEntity" />
  <xs:element name="SelectSale">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SegurosFalabellaEntity" minOccurs="0" name="SelectSaleResult" nillable="true" type="q1:ArrayOfSale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCustomer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SegurosFalabellaEntity" minOccurs="0" name="SelectCustomerResult" nillable="true" type="q2:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSaleId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSaleIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SegurosFalabellaEntity" minOccurs="0" name="SelectSaleIdResult" nillable="true" type="q3:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SegurosFalabellaEntity" minOccurs="0" name="Obejto" nillable="true" type="q4:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSaleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSaleCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SegurosFalabellaEntity" minOccurs="0" name="Obejto" nillable="true" type="q5:Sale" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSaleCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>