Seguros.Falabella.Application/Service References/ServiceSale/SaleWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SegurosFalabellaEntity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SegurosFalabellaEntity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sale" nillable="true" type="tns:Sale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSale" nillable="true" type="tns:ArrayOfSale" />
  <xs:complexType name="Sale">
    <xs:sequence>
      <xs:element minOccurs="0" name="cust_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cust_cc" type="xs:int" />
      <xs:element minOccurs="0" name="cust_city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cust_dateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cust_id" type="xs:int" />
      <xs:element minOccurs="0" name="cust_lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cust_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cust_phone" type="xs:int" />
      <xs:element minOccurs="0" name="prod_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prod_features" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prod_id" type="xs:int" />
      <xs:element minOccurs="0" name="prod_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sale_assistance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sale_coverage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sale_id" type="xs:int" />
      <xs:element minOccurs="0" name="sale_prima" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sale" nillable="true" type="tns:Sale" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="cust_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cust_cc" type="xs:int" />
      <xs:element minOccurs="0" name="cust_city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cust_dateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cust_id" type="xs:int" />
      <xs:element minOccurs="0" name="cust_lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cust_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cust_phone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>